.logout-link {
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    border: solid 2px #ffff;
    width: 100px;
    height: 50px;
    box-shadow: inset 0 0 0 2px #a0a0a0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 500px;
    font-weight: 500;
    vertical-align: middle;
}