.account-page {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-btn {
}

.logout-link {
    color: #9a9a9a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 500px;
    border: solid 2px #9a9a9a;
    min-width: 240px;
    text-align: center;
    margin-top: 50px
}

.logout-link:hover {
    color: #fff;
    border: solid 3px #fff;

}

.account-image {
    margin-top: 30px;
    max-width: 100px;
    max-height: 100px;
}
