.account-page {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn {
    border-radius: 500px;
    border: solid 2px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
}

.logout-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.logout-link:hover {
    color: #9a9a9a;
}

