.name-link,
.artist-name-link {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.name-link {
    color: #fff;
}

.artist-name-link {
    color: hsla(0,0%,100%,.5);
}

.album-image {
    width: 100%;
    height: 100%;
}

.album-default {
   width: 200px;
   height: 200px;
}