.cover-arts-list {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cover-art-default {
    margin-left: 8px;
    margin-right: 8px;
    width: 200px;
    height: auto;
}

.name-link,
.owner-name-link {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.name-link {
    color: #fff;
}

.owner-name-link {
    color: hsla(0,0%,100%,.5);
}

.cover-art-image {
    width: 100%;
    height: 200px;
}
