.link-item {
    padding: 5px;
    margin: -5px;
    font-size: 16px;
    font-weight: 700;
    color: #a0a0a0;
    display: block;
    text-decoration: none;
}

.link-item:hover {
    color: white;
}

.link-item:active,
.link-item:focus {
    color: #1db954;
}

.search-group,
.nav-group {
    border-top: 1px solid hsla(0,0%,100%,.25);
}

.search-group {
    position: relative;
}

.search-btn-default {
    height: 40px;
    display: flex;
    align-items: center;
}

.icon-container,
.avatar-icon-container {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 80%;
}

.icon-container img,
.avatar-icon-container img {
    height: 100%;
    width: 100%;
}
.account-btn {
    position: absolute;
    top: 83%;
    width: 100%;
}

.avatar-icon-container img {
    margin-left: -30px;
}

.spotify-logo-container {
    height: 30px;
    width: 30px;
}

.spotify-logo-container img {
    height: 100%;
    width: 100%;
}

.navbar {
    padding: 24px 24px 95px;
    height: 100vh;
    user-select: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 150px;
    background-color: rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}