.link-item {
    padding: 5px;
    margin: -5px;
    font-size: 16px;
    font-weight: 700;
    color: #a0a0a0;
    display: block;
    text-decoration: none;
}

.link-item:hover {
    color: white;
}

.link-item:active,
.link-item:focus {
    color: #1db954;
}

.search-group {
    border-top: 1px solid hsla(0,0%,100%,.25);
}

.navbar {
    padding: 24px 24px 95px;
    height: 100vh;
    user-select: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    width: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
}